<div class='card-container col-xs-24 card-style'>
    <div class='img-container' class='col-sm-9'>
        <img [src]='cardData.imageUrl || defaultValues.imageUrl' class='img-card' />
    </div>
    <div class='content-container col-sm-14'>
        <div class='row'>
            <h3 class='col-sm-18 text-left' (click)='onCardClick(cardData)'>{{cardData.title || defaultValues.title}}</h3>
            <h3 class='col-sm-6 text-right' >
                <img class='icon-small' src='assets/images/heart.png' (click)='onVoteClick("dislike", cardData.id)' *ngIf='cardData.liked' title='You have liked this article. Click to dislike.' />
                <img class='icon-small' src='assets/images/heart-dislike.png' (click)='onVoteClick("like", cardData.id)' *ngIf='!cardData.liked' title='Click to like this article.' />
                <img class='icon-small' src='assets/images/save-later.png' (click)='onArchiveClick("archive", cardData.id)' *ngIf='!cardData.archived' title='Click to archive this article.' />
                <img class='icon-small' src='assets/images/archived.jpg' (click)='onArchiveClick("unarchive", cardData.id)' *ngIf='cardData.archived' title='This article is archived. Click to unarchive.' />
            </h3>
        </div>
        <div (click)='onCardClick(cardData)'>
            <h4>{{cardData.subTitle || defaultValues.subTitle}}</h4>
            <div>{{cardData.description || defaultValues.description}}</div>
            <div class='card-bottom row stats_bottom'>
                <div>
                    <p class='col-xs-12 text-left' style="margin-top: 24px;">
                        Shared By <i><b>{{cardData.postedBy || 'Anonymous'}}</b></i>
                    </p>
                    <div class='col-xs-12 text-right'>
                        <p>
                          {{cardData.totalLikes || '0'}} Likes
                          &nbsp;
                          {{cardData.totalViews || '0'}} Views
                          &nbsp;
                        </p>
                        <p class='col-xs-24 text-right'>Estimated Reading Time : {{cardData.estimatedMinutes}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
