<div class='card-container col-xs-24 card-style'  (click)='onCardClick(cardData)'>
    <div class='img-container' class='col-sm-9'>
        <img [src]='cardData.imageUrl || defaultValues.imageUrl' class='img-card' />
    </div>
    <div class='content-container col-sm-14'>
        <h3>{{cardData.title || defaultValues.title}}</h3>
        <h4>{{cardData.subTitle || defaultValues.subTitle}}</h4>
        <div>{{cardData.description || defaultValues.description}}</div>
        <div class='card-bottom row'>
            <h4>
                <div class='col-xs-12 text-left'>
                    Shared By <i><b>{{cardData.sharedBy || 'Anonymous'}}</b></i>
                </div>
                <div class='col-xs-12 text-right'>
                    <span>{{cardData.likes || '0'}} Likes</span>
                    &nbsp;
                    <span>{{cardData.views || '0'}} Views</span>
                </div>
            </h4>
        </div>
    </div>
</div>
