<div id="overlay">
    <div class='panel panel-default row' *ngIf='overlayData'>
        <div class='panel-heading col-xs-24'>
            <h1 class='col-xs-24'>
                <div class='col-sm-12 text-left'>{{overlayData.title}}</div>
                <div class='col-sm-12 text-right'>
                    <img class='icon-like' src='assets/images/heart.png' (click)='onVoteClick("dislike", overlayData.id)' *ngIf='overlayData.like' title='You have liked this article. Click to dislike.' />
                    <img class='icon-dislike' src='assets/images/heart-dislike.png' (click)='onVoteClick("like", overlayData.id)' *ngIf='!overlayData.like' title='Click to like this article.' />
                    &nbsp;
                    <span (click)='removeOverlay()'>X</span>
                </div>
            </h1>
        </div>
        <div class='panel-body'>
            <!-- <iframe [src]="webUrl" class='iframe-css'></iframe> -->
            <div class='text-center'>
                <img [src]='overlayData.imageUrl' />
            </div>
            <hr>
            <div class='text-left'>
                {{overlayData.description}}
            </div>
        </div>
        <div class='panel-footer'>
            <h2 class='text-center'>
                <button class='btn btn-outline-primary btn-lg'>
                    <a [href]='overlayData.url' target='_blank'>Visit Main Source</a>
                </button>
            </h2>
        </div>
    </div>
</div>