<div class="col-md-24">
  <h1 class="text-center">What do you want to do today?</h1>
</div>
<div class="action-items">
  <div class="col-md-8 text-center">
    <div class="action-item">
      <div class="image-wrapper">
        <i class="icon icon-journals"></i>
      </div>
      <h2>Manage Personal Data</h2>
      <p>Update your personal data such as name, address, education, work experience, documents and declarations</p>
    </div>
  </div>
  <div class="col-md-8 text-center">
    <div class="action-item">
      <div class="image-wrapper">
        <i class="icon icon-money"></i>
      </div>
      <h2>Manage Personal Finances</h2>
      <p>Update your personal finances such as bank accounts, investments, receivables, life insurance, income &amp; liabilities</p>
    </div>
  </div>
  <div class="col-md-8 text-center">
    <div class="action-item">
      <div class="image-wrapper">
        <i class="icon icon-projects"></i>
      </div>
      <h2>Manage My Projects</h2>
      <p>Add new or update your existing project data</p>
    </div>
  </div>

  <div class="col-md-8 text-center">
    <div class="action-item">
      <div class="image-wrapper">
        <i class="icon icon-user"></i>
      </div>
      <h2>Manage My users</h2>
      <p>Add or update your companies, company data or finances</p>
    </div>
  </div>
  <div class="col-md-8 text-center">
    <div class="action-item">
      <div class="image-wrapper">
        <i class="icon icon-entity"></i>
      </div>
      <h2>Manage My Entities</h2>
      <p>Add or update your companies team members</p>
    </div>
  </div>
  <div class="col-md-8 text-center">
    <div class="action-item">
      <div class="image-wrapper">
        <i class="icon icon-teams"></i>
      </div>
      <h2>Manage My Team</h2>
      <p>Add or update your project partners and teams</p>
    </div>
  </div>
</div>
