<div class="modal fade" id="documents" tabindex="-1" role="dialog" aria-labelledby="documentsLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Documents</h4>
      </div>
      <div class="modal-body">
        <div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#upload" aria-controls="upload" role="tab" data-toggle="tab"><i class="icon icon-upload-arrow"></i> Upload</a>
            </li>
            <li role="presentation">
              <a href="#link" aria-controls="link" role="tab" data-toggle="tab"><i class="icon icon-link"></i> Link</a>
            </li>
            <li role="presentation">
              <a href="#report" aria-controls="report" role="tab" data-toggle="tab"><i class="icon icon-report"></i> Report</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content upload-documents">
            <div role="tabpanel" class="tab-pane active" id="upload">
              <div class="modal_body">
                <form novalidate="" ng-reflect-form="[object Object]" class="ng-untouched ng-pristine ng-invalid">
                  <div class="form-group" ng-reflect-klass="form-group" ng-reflect-ng-class="[object Object]">
                    <label>Title</label>
                    <input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="docTitle"
                           name="docTitle" placeholder="Enter title" type="text" ng-reflect-name="docTitle">
                  </div>
                  <div class="form-group">
                    <label>
                      Upload Document
                    </label>

                    <div>
                      <div class="col-xs-24">
                        <div class="uploaded-project-images row">
                          <div class="upload-document-container inline small is-dragover pointer project-image-preview">
                            <div class="content">
                              <span class="icon icon-upload"></span>
                              <span>Select or browse a file from your computer</span>
                              <input class="input" multiple="" name="file" type="file">

                              <div class="clearfix"></div>
                              <div class="progress-container col-md-8 col-md-push-8">

                                <div class="col-md-6 status-current-value">
                                  40%
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" ng-reflect-klass="form-group" ng-reflect-ng-class="[object Object]">
                    <label>Category</label>
                    <select class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="docCategory"
                            name="docCategory" ng-reflect-name="docCategory">
                      <option value="" ng-reflect-value="">Select Category</option>
                      <option value="1: AFFILIATE" ng-reflect-ng-value="AFFILIATE">Affliliate</option>
                      <option value="2: BUSINESS" ng-reflect-ng-value="BUSINESS">Business</option>
                      <option value="3: INDIVIDUAL" ng-reflect-ng-value="INDIVIDUAL">Individual</option>
                      <option value="4: OTHER" ng-reflect-ng-value="OTHER">Other</option>
                      <option value="5: PROJECT" ng-reflect-ng-value="PROJECT">Project</option>
                      <option value="6: REALESTATE" ng-reflect-ng-value="REALESTATE">Real Estate</option>
                    </select>

                  </div>
                  <div class="form-group" ng-reflect-klass="form-group" ng-reflect-ng-class="[object Object]">
                    <label>Type</label>
                    <select class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="docType"
                            name="docType" ng-reflect-name="docType">
                      <option value="" ng-reflect-value="">Select Type</option>
                      <option value="1: AGREEMENT" ng-reflect-ng-value="AGREEMENT">Agreement</option>
                      <option value="2: APPRAISAL" ng-reflect-ng-value="APPRAISAL">Appraisal</option>
                      <option value="3: CERTIFICATE" ng-reflect-ng-value="CERTIFICATE">Certificate</option>
                      <option value="4: CONTRACT" ng-reflect-ng-value="CONTRACT">Contract</option>
                      <option value="5: DRAWING" ng-reflect-ng-value="DRAWING">Drawing</option>
                      <option value="6: FINANCIALS" ng-reflect-ng-value="FINANCIALS">Financials</option>
                      <option value="7: INSURANCE" ng-reflect-ng-value="INSURANCE">Insurance</option>
                      <option value="8: LEASE" ng-reflect-ng-value="LEASE">Lease</option>
                      <option value="9: LICENSE" ng-reflect-ng-value="LICENSE">License</option>
                      <option value="10: MORTGAGE" ng-reflect-ng-value="MORTGAGE">Mortgage</option>
                      <option value="11: OTHER" ng-reflect-ng-value="OTHER">Other</option>
                      <option value="12: PERMIT" ng-reflect-ng-value="PERMIT">Permit</option>
                      <option value="13: PROFILE" ng-reflect-ng-value="PROFILE">Profile</option>
                      <option value="14: TAX" ng-reflect-ng-value="TAX">Tax</option>
                      <option value="15: FIVEIVEC_REPORT" ng-reflect-ng-value="FIVEIVEC_REPORT">5iveC Report</option>
                    </select>

                  </div>
                </form>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="link">
              <p>Select documents to link</p>
              <table width="100%">
                <tr>
                  <th>
                    <div class="checkbox checkbox-inline">
                      <label>
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> <span></span>
                      </label>
                    </div>
                  </th>
                  <th>Document Name</th>
                  <th>Category</th>
                  <th>Type</th>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="report">
              <p>Select reports to link</p>
              <table width="100%">
                <tr>
                  <th></th>
                  <th>Report Name</th>
                  <th>Category</th>
                  <th>Type</th>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-xs btn-default text-center" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-xs btn-info text-center">Save</button>
      </div>
    </div>
  </div>
</div>
