<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="javascript:;" class="icon icon-nav-menu visible-sm show-hide-nav"></a>
      <a class="navbar-brand" href="#"><img src="/assets/images/5iveC-white.png" height="24" width="24" alt="5iveC" /> </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"><span class="icon icon-dashboard"></span> Dashboard</a></li>
        <li><a href="#"><span class="icon icon-projects"></span> Projects</a></li>
        <li><a href="#"><span class="icon icon-library"></span> Library</a></li>
        <li><a href="#"><span class="icon icon-reports"></span> Reports</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="#"><span class="icon icon-search"></span></a></li>-->
        <!--<li><a href="#"><span class="icon icon-settings"></span></a></li>-->
        <!--<li><a href="#"><span class="icon icon-notifications"></span></a></li>-->
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon icon-user"></span> <span class="icon icon-arrow-drop-down"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
        <li class=""><a href="javascript:;" class="show-hide-info"><span class="icon icon-sub-menu"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
