<div class="property-status" w3-include-html="components/property-status.html"></div>

<ul class="nav nav-sidebar">
  <li class="active"><a href="#"><span class="icon icon-summary"></span> Summary <span class="sr-only">(current)</span></a></li>
  <li><a href="#"><span class="icon icon-todos"></span> To Dos <span class="badge">44</span></a></li>
  <li><a href="#"><span class="icon icon-documents"></span> Documents</a></li>
  <li><a href="#"><span class="icon icon-messages"></span> Messages</a></li>
  <li><a href="#"><span class="icon icon-permissions"></span> Team Permissions <span class="badge">4</span></a></li>
  <li><a href="#"><span class="icon icon-journals"></span> Journals</a></li>
</ul>
