<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group" role="group" aria-label="First group">
    <a href="#" class="btn btn-default add-new-todo"><span class="icon icon-add"></span></a>
  </div>
  <div class="btn-group" role="group" aria-label="Second group">
    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#sendEmailModal"><span class="icon icon-mail"></span></a>
    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#documents"><span class="icon icon-share"></span></a>
    <a href="#" class="btn btn-default"><span class="icon icon-download"></span></a>
    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#sendNotificationModal"><span class="icon icon-notifications"></span></a>
    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#deleteConfirm"><span class="icon icon-delete"></span></a>
  </div>

  <div class="btn-group pull-right" role="group" aria-label="Third group">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="icon icon-filter"></span>
      </button>
      <div class="dropdown-menu with-search">
        <form action="">
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Search Filters">
          </div>
          <ul>
            <li>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  <span>Option One</span>
                </label>
              </div>

            </li>
            <li>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  <span>Option Two</span>
                </label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  <span>Option Three</span>
                </label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  <span>Option Four</span>
                </label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  <span>Option Five</span>
                </label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  <span>Option One</span>
                </label>
              </div>

            </li>
            <li>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  <span>Option Two</span>
                </label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  <span>Option Three</span>
                </label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  <span>Option Four</span>
                </label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  <span>Option Five</span>
                </label>
              </div>
            </li>
          </ul>
          <div class="button-wrapper">
            <a href="javascript:;" class="btn btn-link">Cancel</a>
            <a href="javascript:;" class="btn btn-primary">Apply</a>
          </div>
        </form>
      </div>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="icon icon-view-column"></span>
      </button>
      <div class="dropdown-menu">
        <ul>
          <li>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                <span>Column One</span>
              </label>
            </div>

          </li>
          <li>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                <span>Column Two</span>
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                <span>Column Three</span>
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                <span>Column Four</span>
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                <span>Column Five</span>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="applied-filters">
  <span class="label label-info">Between 23rd to 31st Aug <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></span>
  <span class="label label-info">Checklist Item: Yes <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></span>
  <span class="label label-info">Project Name: Wayne Hotel <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></span>
  <span class="label label-info">Status: Open <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></span>
  <span class="label label-info">+2</span>
  <span class="label label-default">Save Filter</span>
</div>
