<div class="row">
  <div class="col-md-8 col-sm-8 project-image-wrapper"><img src="/assets/images/project-images/project-1-img.jpg" alt="Project Image"/> </div>
  <div class="col-md-16 col-sm-16 project-details">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <ul class="list-group">
          <li class="list-group-item"><h2>Wayne Hotel</h2></li>
          <li class="list-group-item"><label>Project Cost : </label>$500,000</li>
          <li class="list-group-item"><label>Property Type :</label>Hotel</li>
          <li class="list-group-item"><label>Status :- </label><span class="text-success">In Review</span>  | Submitted  July 10, 2017</li>
          <li class="list-group-item">&nbsp;</li>
          <li class="list-group-item"><label>Owner :</label><div class="clearfix"></div>Wayne Foundation</li>
          <li class="list-group-item"><label>Building Type :</label><div class="clearfix"></div>Existing / Purchase / Renovation</li>
          <li class="list-group-item">&nbsp;</li>
          <li class="list-group-item"><label>Lender Name : </label><div class="clearfix"></div>SBA Insurance</li>
        </ul>
      </div>
      <div class="col-md-12 col-sm-12 checklist-status">
        <div class="footer-content" w3-include-html="views/project-tile-list-header.html"></div>
        <div class="clearfix"></div>
        <label class="title">Checklist Completion</label>
        <div class="row">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="col-sm-10">
                Borrower
              </div>
              <div class="col-sm-10">
                <div class="progress">
                  <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                    <span class="sr-only">10% Complete (success)</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 status-current-value">
                10%
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="col-sm-10">
                Ajay Jain <label>(Co-Owner )</label>
              </div>
              <div class="col-sm-10">
                <div class="progress">
                  <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 status-current-value">
                40%
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="col-sm-10">
                Guarantor
              </div>
              <div class="col-sm-10">
                <div class="progress">
                  <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <span class="sr-only">100% Complete (success)</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 status-current-value">
                100%
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="col-sm-24">
                <a href="javascript:;">+ 2 more</a>
              </div>

              <div class="clearfix"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
