<div class="row">
  <div class="col-md-8 col-sm-8 project-image-wrapper"><img src="/assets/images/project-images/project-2-img.jpg" alt="Project Image"/> </div>
  <div class="col-md-16 col-sm-16 project-details">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <ul class="list-group">
          <li class="list-group-item"><h2>Kent Farms</h2></li>
          <li class="list-group-item"><label>Project Cost : </label>$500,000</li>
          <li class="list-group-item"><label>Property Type :</label>Hotel</li>
          <li class="list-group-item"><label>Status :- </label><span class="text-success">In Review</span>  | Submitted  July 10, 2017</li>
          <li class="list-group-item">&nbsp;</li>
          <li class="list-group-item"><label>Owner :</label><div class="clearfix"></div>Wayne Foundation</li>
          <li class="list-group-item"><label>Building Type :</label><div class="clearfix"></div>Existing / Purchase / Renovation</li>
          <li class="list-group-item">&nbsp;</li>
          <li class="list-group-item"><label>Lender Name : </label><div class="clearfix"></div>SBA Insurance</li>
        </ul>
      </div>
      <div class="col-md-12 col-sm-12 checklist-status draft">
        <span class="icon icon-draft"></span>
        <div class="clearfix"></div>
        <h4>Draft</h4>
        <div class="clearfix"></div>
        Created Sat August 12, 9:30PM
      </div>
    </div>
  </div>
</div>
