<div class="row">
  <div class="col-md-24 col-sm-24 ">
    <div class="summary-details clearfix">
      <div class="summary-header">Project Data</div>
      <ul class="list-group">
        <li class="list-group-item"><label>Project Name / Property Name </label> Courtyard by Marriott</li>
        <li class="list-group-item"><label>Property Type (Hotel, etc.)</label> Hotel</li>
        <li class="list-group-item"><label>Property Address / Location</label> 3490 Full Circle Road,<br/>Raleigh, NC 45909</li>
        <li class="list-group-item"><label>Project Purpose</label>Existing / Purchase / Renovation</li>
        <li class="list-group-item"><label>Current / New Brand Name</label> Marriott</li>
        <li class="list-group-item"><label>Franchise Expiration Date</label> 18/10/2025</li>
        <li class="list-group-item"><label>Hotel Opening / Ramp Up Complete Date</label> 02/09/2018</li>
        <li class="list-group-item"><label>Current / Proposed Number of Rooms</label> 450</li>
        <li class="list-group-item"></li>
      </ul>

      <div class="summary-header">FINANCIALS</div>
      <ul class="list-group">
        <li class="list-group-item"><label>Total Development Budget or Acquisition Budget </label> $10000000</li>
        <li class="list-group-item"><label>Property Type (Hotel, etc.)</label> Hotel</li>
        <li class="list-group-item"><label>Property Address / Location</label> 3490 Full Circle Road,<br /> Raleigh, NC 45909</li>
        <li class="list-group-item"><label>Project Purpose</label>Existing / Purchase / Renovation</li>
        <li class="list-group-item"><label>Current / New Brand Name</label> Marriott</li>
        <li class="list-group-item"><label>Franchise Expiration Date</label> 18/10/2025</li>
        <li class="list-group-item"><label>Hotel Opening / Ramp Up Complete Date</label> 02/09/2018</li>
        <li class="list-group-item"><label>Current / Proposed Number of Rooms</label> 450</li>
        <li class="list-group-item"></li>
      </ul>
    </div>
    <!--<div class="col-md-12 col-sm-12 checklist-status">-->
      <!--<label class="title">Checklist Completion</label>-->
      <!--<div class="row">-->
        <!--<ul class="list-group">-->
          <!--<li class="list-group-item">-->
            <!--<div class="col-sm-10">-->
              <!--Borrower-->
            <!--</div>-->
            <!--<div class="col-sm-10">-->
              <!--<div class="progress">-->
                <!--<div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">-->
                  <!--<span class="sr-only">40% Complete (success)</span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-4 status-current-value">-->
              <!--40%-->
            <!--</div>-->
            <!--<div class="clearfix"></div>-->
          <!--</li>-->
          <!--<li class="list-group-item">-->
            <!--<div class="col-sm-10">-->
              <!--Ajay Jain <label>(Co-Owner )</label>-->
            <!--</div>-->
            <!--<div class="col-sm-10">-->
              <!--<div class="progress">-->
                <!--<div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">-->
                  <!--<span class="sr-only">40% Complete (success)</span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-4 status-current-value">-->
              <!--40%-->
            <!--</div>-->
            <!--<div class="clearfix"></div>-->
          <!--</li>-->
          <!--<li class="list-group-item">-->
            <!--<div class="col-sm-10">-->
              <!--Guarantor-->
            <!--</div>-->
            <!--<div class="col-sm-10">-->
              <!--<div class="progress">-->
                <!--<div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">-->
                  <!--<span class="sr-only">40% Complete (success)</span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-4 status-current-value">-->
              <!--40%-->
            <!--</div>-->
            <!--<div class="clearfix"></div>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
