<div class="property-action" w3-include-html="views/list-view-filters.html"></div>
<div class="panel">
  <table class="table">
    <thead>
      <tr>
        <th><input type="checkbox" value=""></th>
        <th>Task Details
          <select class="form-control">
            <option>Any</option>
          </select>
        </th>
        <th>Due Date
          <select class="form-control">
            <option>Any</option>
          </select>
        </th>
        <th>Assigned To
          <select class="form-control">
            <option>Any</option>
          </select>
        </th>
        <th>Document
          <select class="form-control">
            <option>Any</option>
          </select>
        </th>
        <th>Status
          <select class="form-control">
            <option>Any</option>
          </select>
        </th>
        <th align="center">
          <a href="javascript:;"><span class="icon icon-left"></span></a>
          <a href="javascript:;" class="pull-right"><span class="icon icon-right"></span></a>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td scope="row">
          <input type="checkbox" value="">
        </td>
        <td><a href="javascript:;">Rental agreement specifying...</a></td>
        <td>November 20</td>
        <td>
          Ajay Jain
          <div class="clearfix"></div>
          <label>(Sponsor)</label>
        </td>
        <td>5iveC application checklist. doc</td>
        <td class="text-success">Open</td>
        <td align="center">
          <div class="dropdown">
            <a href="javascript:;" class="action dropdown-toggle"id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="icon icon-more-horiz"></span></a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
              <li><a href="#">Action 1</a></li>
              <li><a href="#">Action 2</a></li>
              <li><a href="#">Action 3</a></li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td scope="row">
          <input type="checkbox" value="">
        </td>
        <td><a href="javascript:;">W2s for previous year for ea...</a></td>
        <td>December 30</td>
        <td>
          Gurpreet Singh
          <div class="clearfix"></div>
          <label>(Co-Owner)</label>
        </td>
        <td>5iveC application checklist. doc</td>
        <td>Closed</td>
        <td align="center">
          <div class="dropdown">
            <a href="javascript:;" class="action dropdown-toggle"id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="icon icon-more-horiz"></span></a>
            <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
              <li><a href="#">Action 1</a></li>
              <li><a href="#">Action 2</a></li>
              <li><a href="#">Action 3</a></li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td scope="row">
          <input type="checkbox" value="">
        </td>
        <td><a href="javascript:;">Personal Tax Returns - Previ...</a></td>
        <td>March 31</td>
        <td>
          Chinmay Hulyalkar
          <div class="clearfix"></div>
          <label>(Guarantor)</label>
        </td>
        <td>5iveC application checklist. doc</td>
        <td>Closed</td>
        <td align="center">
          <div class="dropdown">
            <a href="javascript:;" class="action dropdown-toggle"id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="icon icon-more-horiz"></span></a>
            <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu2">
              <li><a href="#">Action 1</a></li>
              <li><a href="#">Action 2</a></li>
              <li><a href="#">Action 3</a></li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td scope="row">
          <input type="checkbox" value="">
        </td>
        <td><a href="javascript:;">Rental agreement specifying...</a></td>
        <td>November 20</td>
        <td>
          Manoj Singh
          <div class="clearfix"></div>
          <label>(Sponsor)</label>
        </td>
        <td>Ajay Jain Financial. doc Anuj Mittal Finance</td>
        <td class="text-success">Open</td>
        <td align="center">
          <div class="dropdown">
            <a href="javascript:;" class="action dropdown-toggle"id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="icon icon-more-horiz"></span></a>
            <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu3">
              <li><a href="#">Action 1</a></li>
              <li><a href="#">Action 2</a></li>
              <li><a href="#">Action 3</a></li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td scope="row">
          <input type="checkbox" value="">
        </td>
        <td><a href="javascript:;">W2s for previous year for ea...</a></td>
        <td>December 30</td>
        <td>
          Rahul Kulkarni
          <div class="clearfix"></div>
          <label>(Co-Owner)</label>
        </td>
        <td>5iveC application checklist. doc</td>
        <td class="text-success">Open</td>
        <td align="center">
          <div class="dropdown">
            <a href="javascript:;" class="action dropdown-toggle"id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="icon icon-more-horiz"></span></a>
            <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu4">
              <li><a href="#">Action 1</a></li>
              <li><a href="#">Action 2</a></li>
              <li><a href="#">Action 3</a></li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td scope="row">
          <input type="checkbox" value="">
        </td>
        <td><a href="javascript:;">Personal Tax Returns - Previ...</a></td>
        <td>March 31</td>
        <td>
          Abhijeet Soman
          <div class="clearfix"></div>
          <label>(Guarantor)</label>
        </td>
        <td>5iveC application checklist. doc</td>
        <td>Closed</td>
        <td align="center">
          <div class="dropdown">
            <a href="javascript:;" class="action dropdown-toggle"id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="icon icon-more-horiz"></span></a>
            <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu5">
              <li><a href="#">Action 1</a></li>
              <li><a href="#">Action 2</a></li>
              <li><a href="#">Action 3</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
