<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="javascript:;" role="button" class="navbar-brand">
        <img src="assets/images/techmark_logo.png" height="45" alt="Credivia" />
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="javascript:;" class="dropdown-toggle" style="color: black;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="User Settings">
            Hi {{loggedInUserName}}
            <span class="icon icon-arrow-drop-down"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="javascript:;" [routerLink]="['profile']" routerLinkActive="active">Profile</a></li>
            <li role="separator" class="divider"></li>
            <li routerLink="change-password"><a href="javascript:;">Change Password</a></li>
            <li (click)="onLogout()"><a href="javascript:;">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar" class="siderbar_container">
        <div class="sidebar-header">
            <h3></h3>
        </div>

        <ul class="list-unstyled components">
            <li class='side-item' (click)='subscribeList("TRENDING")' [ngClass]="{'active' : pageCategory == 'TRENDING'}" role='button'>Trending</li>
            <li class="divider"></li>
            <li class='side-item' (click)='subscribeList("ALL_SHARED")' [ngClass]="{'active' : pageCategory == 'ALL_SHARED'}" role='button'>All Shared</li>
            <li class="divider"></li>
            <!-- <li class='side-item' (click)='subscribeList("MY_FAVOURITES")' role='button'>My Favorites</li> -->
            <li class='side-item' (click)='subscribeList("READ_LATER")' [ngClass]="{'active' : pageCategory == 'READ_LATER'}" role='button'>Archived</li>
            <li class="divider"></li>
            <li class='side-item' (click)='subscribeList("MY_SHARED")' [ngClass]="{'active' : pageCategory == 'MY_SHARED'}" role='button'>My Shared</li>
            <li class="divider"></li>
        </ul>
    </nav>

    <!-- Page Content -->
    <div id="content" style="margin-left: 245px;">

        <div class='col-sm-24 home-container'>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <div class="container-fluid">

                                <button type="button" id="sidebarCollapse" class="btn btn-info">
                                    <i class="fas fa-align-left"></i>
                                    <span>Toggle Sidebar</span>
                                </button>

                            </div>
                        </nav> -->
                        <h1 class='text-center'>{{constantService.headerMapping[pageCategory]}}</h1>
                    </div>
                    <hr />
                    <div class="panel-body">
                        <div *ngFor='let card of cardList'>
                            <div class='row'>
                                <div class='col-sm-24'>
                                    <card [cardData]='card' (cardClicked)='onCardClicked($event)'></card>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        </div>
    </div>

    <overlay #overlayRef [overlayData]='overlayData'></overlay>

</div>


