<div class='row'>
    <h1 class='text-center app-heading'>WELCOME TO TECHMARK</h1>
</div>
<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3></h3>
        </div>
    
        <ul class="list-unstyled components">
            <li class='side-item' (click)='subscribeList("TRENDING")' role='button'>Trending</li>
            <li class='side-item' (click)='subscribeList("ALL_SHARED")' role='button'>All Shared</li>
            <li class='side-item' (click)='subscribeList("MY_FAVOURITES")' role='button'>My Favorites</li>
            <li class='side-item' (click)='subscribeList("READ_LATER")' role='button'>Read Later</li>
            <li class='side-item' (click)='subscribeList("MY_SHARED")' role='button'>My Shared</li>
        </ul>
    </nav>

    <!-- Page Content -->
    <div id="content">

        <div class='col-sm-24 home-container'>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <div class="container-fluid">
                    
                                <button type="button" id="sidebarCollapse" class="btn btn-info">
                                    <i class="fas fa-align-left"></i>
                                    <span>Toggle Sidebar</span>
                                </button>
                    
                            </div>
                        </nav> -->
                        <h1 class='text-center'>{{constantService.headerMapping[pageCategory]}}</h1>
                    </div>
                    <hr />
                    <div class="panel-body">
                        <div *ngFor='let card of cardList'>
                            <div class='row'>
                                <div class='col-sm-24'>
                                    <card [cardData]='card' (cardClicked)='onCardClicked($event)'></card>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        </div>
    </div>

    <overlay #overlayRef [overlayData]='overlayData'></overlay>

</div>


